body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Set a background color for the body */
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.slideshow-container {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.social-media {
    text-align: center;
    padding: 20px;
}

.about-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff; /* Set a background color for the about section */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for the about section */
    border-radius: 10px; /* Add rounded corners */
}

.about-section img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: 100px; /* Adjust the width to your preference */
    height: 100px; /* Adjust the height to your preference */
}

.about-section p {
    line-height: 1.6;
}
